.logo {
  display: flex;
  align-items: center;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $nav-text-color;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo--black {
  color: $main-text-color;
}

.logo--white {
  color: $hero-text-color;
}
