.advantages__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: $button-text-background;
}

.advantages__subtitle {
  color: $main-text-color;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  color: $secondary-text-color;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.7;
}

.section.advantages {
  padding-bottom: 0;
}
